/*
 *  Copyright (C) 2011 - 2014 Xilinx
 *  Copyright (C) 2012 National Instruments Corp.
 *
 * This software is licensed under the terms of the GNU General Public
 * License version 2, as published by the Free Software Foundation, and
 * may be copied, distributed, and modified under those terms.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */
/dts-v1/;
/include/ "zynq-7000.dtsi"

/ {
	model = "Zynq YPacket2 Development Board";
	compatible = "xlnx,zynq-ypacket2", "xlnx,zynq-7000";

	aliases {

		i2c0 = &i2c0;
		qspi0 = &qspi;
        spi0 = &spi0;
        spi1 = &spi1;
		serial0 = &uart0;

	};

	memory {
		device_type = "memory";
		reg = <0x0 0x10000000>;
	};



    xadc@43ce0000 {
		    compatible = "xlnx,axi-xadc-1.00.a";
		    reg = <0x43ce0000 0x10000>;
		    interrupts = <0 53 4>;
		    interrupt-parent = <&intc>;
		    clocks = <&clkc 15>;

		    xlnx,channels {
			    #address-cells = <1>;
			    #size-cells = <0>;
			    channel@0 {
				    reg = <0>;
			    };
			    channel@1 {
				    reg = <1>;
			    };
			    channel@2 {
				    reg = <2>;
			    };
			    channel@3 {
				    reg = <3>;
			    };
			    channel@4 {
				    reg = <4>;
			    };
			    channel@5 {
				    reg = <5>;
			    };
			    channel@6 {
				    reg = <6>;
			    };
			    channel@7 {
				    reg = <7>;
			    };
			    channel@8 {
				    reg = <8>;
			    };
			    channel@9 {
				    reg = <9>;
			    };
			    channel@10 {
				    reg = <10>;
			    };
			    channel@11 {
				    reg = <11>;
			    };
			    channel@12 {
				    reg = <12>;
			    };
			    channel@13 {
				    reg = <13>;
			    };
			    channel@14 {
				    reg = <14>;
			    };
			    channel@15 {
				    reg = <15>;
			    };
			    channel@16 {
				    reg = <16>;
			    };
		    };
    };
    yemacl@44000000 {
	    compatible = "yemacl";
	    status = "okay";
	    reg = <0x44000000 0x10000 0x45000000 0x20000>;
        local-mac-address = [88 77 66 55 44 33];
		interrupt-parent = <&intc>;
		interrupts = <0 29 1>; 
    };

    temac@47000000 {
	    compatible = "temac";
	    status = "okay";
	    reg = <0x47000000 0x10000>;
    };


	chosen {
		bootargs = "console=ttyPS0,115200 rootfstype=squashfs root=/dev/mtdblock4 ro earlyprintk";
		stdout-path = &uart0;
	};

};





&qspi {
	status = "okay";
	is-dual = <0>;
	num-cs = <1>;
	flash@0 {
		compatible = "mt25ql02gc,m25p80";
		reg = <0x0>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <50000000>;
		#address-cells = <1>;
		#size-cells = <1>;
		partition@qspi-fsbl-uboot {
			label = "qspi-fsbl-uboot";
			reg = <0x0 0xf00000>;
		};
		partition@qspi-uboot-env0 {
			label = "qspi-uboot-env0";
			reg = <0xf00000 0x40000>;
		};
		partition@qspi-uboot-env1 {
			label = "qspi-uboot-env1";
			reg = <0xf40000 0x40000>;
		};
		partition@qspi-kernel-bank0 {
			label = "qspi-bank0";
			reg = <0x1000000 0x6000000>;
		};
		partition@qspi-rootfs-bank0 {
			label = "qspi-rootfs-bank0";
			reg = <0x1600000 0x5A00000>;
		};
		partition@qspi-kernel-bank1 {
			label = "qspi-bank1";
			reg = <0x7000000 0x6000000>;
		};
		partition@qspi-rootfs-bank1 {
			label = "qspi-rootfs-bank1";
			reg = <0x7600000 0x5A00000>;
		};
		partition@qspi-jffs2 {
			label = "qspi-fs";
			reg = <0xd000000 0x3000000>;
		};
	};
};

&clkc {
	ps-clk-frequency = <50000000>;
};

&gem1 {
	status = "okay";
    phy-mode = "sgmii";

    phy-handle = <&phy1>;

    phy1: phy@16 {
                compatible = "Xilinx PCS/PMA PHY";
                device_type = "ethernet-phy";
                reg = <16>;
    };
};

&gpio0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio0_default>;
};

&i2c1 {
    status = "disabled";
	clock-frequency = <400000>;
};

&i2c0 {
	status = "disabled";

};

&pinctrl0 {
	pinctrl_gem0_default: gem0-default {
		mux {
			function = "ethernet0";
			groups = "ethernet0_0_grp";
		};

		conf {
			groups = "ethernet0_0_grp";
			slew-rate = <0>;
			io-standard = <4>;
		};

		conf-rx {
			pins = "MIO22", "MIO23", "MIO24", "MIO25", "MIO26", "MIO27";
			bias-high-impedance;
			low-power-disable;
		};

		conf-tx {
			pins = "MIO16", "MIO17", "MIO18", "MIO19", "MIO20", "MIO21";
			low-power-enable;
			bias-disable;
		};

		mux-mdio {
			function = "mdio0";
			groups = "mdio0_0_grp";
		};

		conf-mdio {
			groups = "mdio0_0_grp";
			slew-rate = <0>;
			io-standard = <1>;
			bias-disable;
		};
	};

	pinctrl_gpio0_default: gpio0-default {
		mux {
			function = "gpio0";
			groups = "gpio0_7_grp", "gpio0_46_grp", "gpio0_47_grp";
		};

		conf {
			groups = "gpio0_7_grp", "gpio0_46_grp", "gpio0_47_grp";
			slew-rate = <0>;
			io-standard = <1>;
		};

		conf-pull-up {
			pins = "MIO46", "MIO47";
			bias-pull-up;
		};

		conf-pull-none {
			pins = "MIO7";
			bias-disable;
		};
	};

	pinctrl_i2c0_default: i2c0-default {
		mux {
			groups = "i2c0_10_grp";
			function = "i2c0";
		};

		conf {
			groups = "i2c0_10_grp";
			bias-pull-up;
			slew-rate = <0>;
			io-standard = <1>;
		};
	};

};


&uart0 {
	status = "okay";
};

&spi1 {

    status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;
	num-cs = <2>;
	is-decoded-cs = <0>;
	spi-max-frequency = <166666700>;

	spidev@0{
		compatible="spidev";
		reg =<0>; //chipselect 0, si5347 (clock)
		spi-max-frequency= <100000>;
	};
	spidev@1{
		compatible="spidev";
		reg =<1>; //chipselect 1, ad9746 (dac)
		spi-max-frequency= <100000>;
	};

};

&spi0 {

    status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;
	num-cs = <1>;
	is-decoded-cs = <0>;
	spidev@0{
		compatible="spidev";
		reg =<0>; //chipselect 0, ad9643 (adc)
		spi-max-frequency= <100000>;
	};
};

&can1 {
       status = "okay";
};



&adc {
       status = "okay";

};



